/.idea
/.vscode
/binaryfile.ser
/Book1.xlsx
/calculator.py
/CSIP_IF_ELSE.PY
/emp.csv
/experiment.py
/file2.txt
/Practice1.py
/project1.py
/python code.code-workspace
/student.txt
/text.txt
/__pycache__